body {
    background-color: white;
    font-family: jost;
    margin: 0;
}

.tela {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 600px;
    left: 700px;
    top: 40px;
    background: #102B53;
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    border-radius: 65px;
}


h2 {
    font-weight: 600;
    font-size: 60px;
    color: white;
    margin-top: 105px;
    text-shadow:
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,
        0 0 5px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
    font-size: 15px;
    font-weight: 200;
    margin-top: -70px;
    position: absolute;
    left: 290px;
}

input[type="email"] {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 29px;
    border: none;
    color: white;
    width: 338px;
    height: 49px;
}

::placeholder {
    color: aliceblue;
}

input[type="password"] {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 338px;
    height: 49px;
    left: 78px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 29px;
    border: none;
    color: white;
}

input[type="submit"] {
    border: none;
    width: 100px;
    height: 41px;
    left: 660px;
    margin-top: 120px;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.33);
    color: aliceblue;
    font-weight: 700;

}

input[type="submit"]:hover {
    background-color: white;
    color: #102B53;
}